@font-face {
	font-family: "Playfair-Regular";
	src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
	font-family: "Playfair-RegularItalic";
	src: url("../assets/fonts/PlayfairDisplay-Italic.ttf");
}
@font-face {
	font-family: "Playfair-Medium";
	src: url("../assets/fonts/PlayfairDisplay-Medium.ttf");
}
@font-face {
	font-family: "Playfair-MediumItalic";
	src: url("../assets/fonts/PlayfairDisplay-MediumItalic.ttf");
}
@font-face {
	font-family: "Playfair-Bold";
	src: url("../assets/fonts/PlayfairDisplay-Bold.ttf");
}
