@use "../0_abstracts" as *;

.turn_me_on {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border: 3px solid black;
	height: 300px;
	width: 200px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 250px;
		height: 350px;
		background: linear-gradient(-45deg, hsl(0, 0%, 82%), hsl(0, 0%, 96%));
		border: inherit;
		z-index: -1;
	}

	.screw {
		position: absolute;
		background: white;
		border: 2px solid black;
		height: 20px;
		aspect-ratio: 1;
		border-radius: 50%;
		overflow: hidden;

		&::after {
			content: "";
			position: inherit;
			top: 8px;
			height: inherit;
			aspect-ratio: 1;
			border-top: 2px solid black;
			transform: rotate(45deg);
			transform-origin: top;
		}

		&:first-of-type {
			top: 20px;
		}

		&:last-of-type {
			bottom: 20px;
		}
	}

	.corner_line_top,
	.corner_line_bottom {
		position: absolute;
		height: 37px;
		width: 20px;
		border-left: 3px solid black;

		&::after {
			content: "";
			position: inherit;
			height: inherit;
			width: inherit;
			border-left: inherit;
			left: 145px;
		}
	}

	.corner_line_top {
		left: -30px;
		top: -32px;
		transform: rotate(-45deg);
		transform-origin: top;

		&::after {
			transform: rotate(90deg);
			top: 164px;
		}
	}

	.corner_line_bottom {
		left: -4px;
		bottom: -44px;
		transform: rotate(45deg);
		transform-origin: top;

		&::after {
			transform: rotate(-90deg);
			top: -165px;
		}
	}
}

.touch_me {
	height: 90px;
	width: 40px;
	color: black;
	border: 3px solid black;
	background: whitesmoke;
	box-shadow: inset -1px -1px 5px black;
	position: relative;

	span {
		font-family: $font-regular;
		font-size: 1.2rem;
		position: absolute;
		transition: opacity 0.3s ease;
		transition-delay: 250ms;
		user-select: none;
		pointer-events: none;

		&:first-of-type {
			top: 11px;
			left: 5px;
			opacity: 1;
		}

		&:last-of-type {
			bottom: 11px;
			left: 7px;
			opacity: 0;
		}
	}

	.switch {
		height: 30px;
		aspect-ratio: 1;
		position: absolute;
		background: white;
		border: 3px solid black;
		bottom: 2px;
		transform: scaleY(0.6);
		box-shadow: -8px -8px 2px white;
		cursor: pointer;
		transition: transform 0.5s ease-in, box-shadow 0.5s ease-in;

		&::after {
			position: inherit;
			content: "";
			height: 25px;
			width: 41px;
			border-left: 3px solid #000;
			border-right: 3px solid #000;
			transform: rotate(-45deg);
			top: -9px;
			left: -17px;
			transition-delay: 200ms;
		}

		&::before {
			position: inherit;
			content: "";
			height: 25px;
			width: 3px;
			background: #000;
			transform: rotate(-45deg);
			top: -22px;
			left: -11px;
			transition-delay: 200ms;
		}

		&.off {
			transform: scaleY(0.6) translateY(-80px);
			box-shadow: -8px 11px 2px white;
			transition: transform 0.5s ease-in, box-shadow 0.5s ease-in;
			&::after {
				transform: rotate(45deg);
				top: 10px;
			}

			&::before {
				top: 20px;
				transform: rotate(45deg);
			}

			~ span:first-of-type {
				opacity: 0;

				&::after {
					opacity: 1;
				}
			}

			~ span:last-of-type {
				opacity: 1;
			}
		}
	}
}
