.turn_me_on {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border: 3px ridge black;
	height: 300px;
	width: 200px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 250px;
		height: 350px;
		background: linear-gradient(-45deg, hsl(0, 0%, 82%), hsl(0, 0%, 96%));
		border: inherit;
		z-index: -1;
	}

	.screw {
		position: absolute;
		background: white;
		border: 2px ridge black;
		height: 20px;
		aspect-ratio: 1;
		border-radius: 50%;
		overflow-x: hidden;

		&::after {
			content: "";
			position: inherit;
			top: 8px;
			height: inherit;
			aspect-ratio: 1;
			border-top: 2px ridge black;
			transform: rotate(45deg);
			transform-origin: top;
		}

		&:first-of-type {
			top: 20px;
		}

		&:last-of-type {
			bottom: 20px;
		}
	}

	.corner_line_top,
	.corner_line_bottom {
		position: absolute;
		height: 37px;
		width: 20px;
		border-left: 3px ridge black;

		&::after {
			content: "";
			position: inherit;
			height: inherit;
			width: inherit;
			border-left: inherit;
		}
	}

	.corner_line_top {
		left: -30px;
		top: -31px;
		transform: rotate(-45deg);
		transform-origin: top;

		&::after {
			transform: rotate(90deg);
			left: 146px;
			top: 164px;
		}
	}

	.corner_line_bottom {
		left: -4px;
		bottom: -44px;
		transform: rotate(45deg);
		transform-origin: top;

		&::after {
			transform: rotate(-90deg);
			left: 145px;
			top: -166px;
		}
	}

	button {
		color: white;

		span {
			display: block;
		}
	}
}
