@use "../0_abstracts" as *;

body {
	height: 100vh;
	width: 100vw;
	font-family: $font-regular;
	background: $black-color;
	overflow: hidden;
	transition: background 2s ease-in-out;
	width: calc(100vw - 20px);
	scroll-behavior: smooth;

	&.white__magic {
		background: $white-color;
		overflow: visible;
	}
}

h1 {
	font-family: $font-medium-italic;
	color: $white-color;
	text-align: center;
}

section {
	height: 100vh;
}
