@use "variables" as *;

@keyframes isItBigEnough {
	from {
		font-size: 3rem;
		text-shadow: 0 0 0 $white-color;
	}
	to {
		font-size: 80rem;
		text-shadow: 2px 2px 50px $white-color;
	}
}

@keyframes move {
	to {
		offset-distance: 100%;
		width: 1.5rem;
		height: 1.5rem;
	}
}
