@forward "fonts";
// fonts
$font-default: serif;
$font-regular: "Playfair-Regular", $font-default;
$font-regular-italic: "Playfair-RegularItalic", $font-default;
$font-medium: "Playfair-Medium", $font-default;
$font-medium-italic: "Playfair-MediumItalic", $font-default;
$font-bold: "Playfair-Bold", $font-default;

// colors
$black-color: hsl(0, 0%, 0%);
$black-light-color: hsla(0, 0%, 0%, 0.6);

// screen size variable map for the respond-to mixin
$breakpoints: (
	"screen-sm": (
		max-width: 768px,
	),
	"screen-md": (
		max-width: 992px,
	),
	"screen-lg": (
		max-width: 1200px,
	),
);
